.sliderCarousel {
  width: 90%;
  height: auto;
  padding: 1.5em 0;
  margin: 2em auto 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
  position: relative;
}

.sliderCarousel h4 {
  font-size: 2em;
  color: #2d2d31;
  font-weight: 700;
  margin-right: 0.75em;
}

.sliderCarousel .helper {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-top: 0.75em;
  position: relative;
}

.sliderCarousel .helper .btn {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  cursor: pointer;
  z-index: 3;
  cursor: pointer;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
  color: white;
  background-color: #00897b;
  border: 1.2px solid transparent;
}

.sliderCarousel .helper .btn:hover {
  color: #00897b;
  background-color: white;
  border: 1.2px solid #00897b;
}

.sliderCarousel .helper .btn i {
  font-size: 1.6em;
}

.sliderCarousel .helper .btn.prev {
  right: 0.75em;
}

.sliderCarousel .helper .btn.next {
  left: 0.75em;
}

.sliderCarousel .helper .slides {
  width: 100%;
  height: auto;
  margin-top: 0.75em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
  position: relative;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
}

.sliderCarousel .helper .slides .slide {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  width: -webkit-calc((100% - (4 * 1.5em)) / 4);
  width: -moz-calc((100% - (4 * 1.5em)) / 4);
  width: calc((100% - (4 * 1.5em)) / 4);
  height: 25em;
  margin: 0 0.75em;
}

.sliderCarousel .show_more {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: auto;
  margin-top: 0.75em;
  font-size: 1.6em;
  color: #90909b;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  transition: all .2s linear;
}

.sliderCarousel .show_more:hover {
  color: #00897b;
}

.sliderCarousel .show_more i {
  font-size: 1.2em;
  -webkit-transform: translate(-0.3em, 15%);
     -moz-transform: translate(-0.3em, 15%);
      -ms-transform: translate(-0.3em, 15%);
          transform: translate(-0.3em, 15%);
}

.sliderCarousel {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

.sliderCarousel > h4 {
  font-size: 2em;
  color: white;
  font-weight: 700;
  background-color: #00897b;
  padding: .5em;
  border-radius: 0.75em;
}

.sliderCarousel .helper {
  margin-top: 0.75em;
}

.sliderCarousel .helper .slides .slide {
  width: -webkit-calc((100% - (5 * 1.5em)) / 5);
  width: -moz-calc((100% - (5 * 1.5em)) / 5);
  width: calc((100% - (5 * 1.5em)) / 5);
  height: 31em;
  border-radius: 1.05em;
  margin: 0 0.75em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

.sliderCarousel .helper .slides .slide:hover .img img {
  -webkit-transform: scale(1.2);
     -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.sliderCarousel .helper .slides .slide .img {
  width: 100%;
  height: 50%;
  position: relative;
  overflow: hidden;
  border-top-left-radius: 1.05em;
  border-top-right-radius: 1.05em;
}

.sliderCarousel .helper .slides .slide .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
}

.sliderCarousel .helper .slides .slide .img .info {
  width: auto;
  height: auto;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(30, 30, 30, 0.75);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
}

.sliderCarousel .helper .slides .slide .img .info .icon {
  width: auto;
  height: auto;
  margin: .3em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
  color: white;
}

.sliderCarousel .helper .slides .slide .img .info .icon p, .sliderCarousel .helper .slides .slide .img .info .icon i {
  font-size: 1.1em;
}

.sliderCarousel .helper .slides .slide .img .info .icon p {
  margin-right: .2em;
}

.sliderCarousel .helper .slides .slide .content {
  width: 100%;
  height: 50%;
  border: 1px solid #b8b8bf;
  padding: 0.75em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom-left-radius: 1.05em;
  border-bottom-right-radius: 1.05em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

.sliderCarousel .helper .slides .slide .content > *:not(:first-child) {
  margin-top: .4em;
}

.sliderCarousel .helper .slides .slide .content .icons {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
}

.sliderCarousel .helper .slides .slide .content .icons .icon {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

.sliderCarousel .helper .slides .slide .content .icons .icon:not(:first-child) {
  margin-right: 1.5em;
}

.sliderCarousel .helper .slides .slide .content .icons .icon i {
  color: #00897b;
  font-size: 1.2em;
}

.sliderCarousel .helper .slides .slide .content .icons .icon p {
  margin-right: .3em;
  color: #90909b;
  font-size: 1.4em;
}

.sliderCarousel .helper .slides .slide .content .score {
  width: auto;
  height: auto;
  margin-top: 0.75em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

.sliderCarousel .helper .slides .slide .content .score i {
  font-size: 1.3em;
  color: #00897b;
}

.sliderCarousel .helper .slides .slide .content .score i.notActive {
  color: #c6c6cb;
}

.sliderCarousel .helper .slides .slide .content .score p {
  margin-right: .2em;
  font-size: 1.3em;
  -webkit-transform: translateY(0.1em);
     -moz-transform: translateY(0.1em);
      -ms-transform: translateY(0.1em);
          transform: translateY(0.1em);
  color: #83838f;
}

.sliderCarousel .helper .slides .slide .content h4 {
  font-size: 1.6em;
  font-weight: 700;
  color: #2d2d31;
  margin-right: 0;
}

.sliderCarousel .helper .slides .slide .content .price {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

.sliderCarousel .helper .slides .slide .content .price .col {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

.sliderCarousel .helper .slides .slide .content .price .col p:nth-child(1) {
  font-size: 1.4em;
  text-decoration: line-through;
  color: #b8b8bf;
}

.sliderCarousel .helper .slides .slide .content .price .col p:nth-child(2) {
  font-size: 1.6em;
  color: #00897b;
}

.sliderCarousel .helper .slides .slide .content .price .discount {
  margin-right: 0.75em;
  width: auto;
  height: auto;
  padding: .2em .5em;
  font-size: 1.2em;
  border-radius: .5em;
  color: white;
  background-color: #00897b;
}

.sliderCarousel .show_more {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
     -moz-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
  margin-top: 0.75em;
  padding-left: 0.75em;
}

@media screen and (max-width: 1000px) {
  .sliderCarousel {
    font-size: 8px;
  }
}

@media screen and (max-width: 1200px) {
  .sliderCarousel .helper .slides .slide {
    width: -webkit-calc((100% - (4 * 1.5em)) / 4);
    width: -moz-calc((100% - (4 * 1.5em)) / 4);
    width: calc((100% - (4 * 1.5em)) / 4);
  }
}

@media screen and (max-width: 900px) {
  .sliderCarousel .helper .slides .slide {
    width: -webkit-calc((100% - (3 * 1.5em)) / 3);
    width: -moz-calc((100% - (3 * 1.5em)) / 3);
    width: calc((100% - (3 * 1.5em)) / 3);
  }
}

@media screen and (max-width: 650px) {
  .sliderCarousel .helper {
    overflow: auto;
  }
  .sliderCarousel .helper .btn {
    display: none;
  }
  .sliderCarousel .helper .slides .slide {
    width: -webkit-calc((100% - (2 * 1.5em)) / 2);
    width: -moz-calc((100% - (2 * 1.5em)) / 2);
    width: calc((100% - (2 * 1.5em)) / 2);
  }
}

@media screen and (max-width: 480px) {
  .sliderCarousel .helper .slides .slide {
    width: 75%;
  }
}
/*# sourceMappingURL=carousel.css.map */