#topMenu {
  width: 100%;
  height: auto;
  background-color: #263238;
  padding: .5em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
     -moz-box-orient: horizontal;
     -moz-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
  position: relative;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
}

#topMenu .right {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
     -moz-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

#topMenu .right .logo {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
  margin-right: 1.5em;
}

#topMenu .right .logo img {
  width: 6em;
  height: 5em;
}

#topMenu .right .logo h1 {
  margin-right: .3em;
  font-size: 2em;
  color: #fbfbfb;
  font-weight: 700;
}

#topMenu .right .city {
  width: auto;
  height: auto;
  position: relative;
  margin-right: 3em;
}

#topMenu .right .city .title {
  width: auto;
  height: auto;
  margin-right: 1.5em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
  cursor: pointer;
  color: #fbfbfb;
}

#topMenu .right .city .title p, #topMenu .right .city .title i {
  font-size: 1.6em;
}

#topMenu .right .city .title i {
  margin-right: .3em;
}

#topMenu .right .city ul {
  width: 25em;
  height: auto;
  position: absolute;
  right: 0;
  top: -webkit-calc(100% + 1.1em);
  top: -moz-calc(100% + 1.1em);
  top: calc(100% + 1.1em);
  background-color: white;
  -webkit-box-shadow: -0.5em 0.5em 1.5em 0.1em rgba(70, 69, 85, 0.3);
          box-shadow: -0.5em 0.5em 1.5em 0.1em rgba(70, 69, 85, 0.3);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

#topMenu .right .city ul li {
  width: 100%;
  height: auto;
  padding: 0.75em;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  transition: all .2s linear;
  background-color: transparent;
  color: #2d2d31;
}

#topMenu .right .city ul li:not(:last-child) {
  border-bottom: 1px solid #c6c6cb;
}

#topMenu .right .city ul li:hover {
  background-color: #00897b;
  color: #fbfbfb;
}

#topMenu .right .city ul li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: 1.6em;
  color: inherit;
}

#topMenu .right .city ul.show {
  z-index: 1;
}

#topMenu .left {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
  margin-right: 1.5em;
}

#topMenu .left #login {
  width: auto;
  height: auto;
  padding: .5em .8em;
  border-radius: .6em;
  cursor: pointer;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
  color: white;
  background-color: #00897b;
  border: 1.2px solid transparent;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

#topMenu .left #login:hover {
  color: #00897b;
  background-color: white;
  border: 1.2px solid #00897b;
}

#topMenu .left #login i, #topMenu .left #login p {
  font-size: 1.6em;
}

#topMenu .left #login p {
  margin-right: .3em;
}

#topMenu .left #lang {
  width: auto;
  height: auto;
  position: relative;
  margin-right: 3em;
  margin-left: 1.5em;
}

#topMenu .left #lang .title {
  cursor: pointer;
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

#topMenu .left #lang .title img {
  width: 2em;
  height: 1.5em;
}

#topMenu .left #lang .title p, #topMenu .left #lang .title i {
  font-size: 1.6em;
  color: #fbfbfb;
  margin-right: .2em;
}

#topMenu .left #lang ul {
  width: 12em;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
  -webkit-box-shadow: 0.5em 0.5em 1em 0.3em rgba(70, 69, 85, 0.3);
          box-shadow: 0.5em 0.5em 1em 0.3em rgba(70, 69, 85, 0.3);
  position: absolute;
  top: -webkit-calc(100% + 1.1em);
  top: -moz-calc(100% + 1.1em);
  top: calc(100% + 1.1em);
  right: 50%;
  -webkit-transform: translateX(50%);
     -moz-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
  background-color: white;
}

#topMenu .left #lang ul li {
  width: 100%;
  height: auto;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  transition: all .2s linear;
  color: #2d2d31;
  background-color: transparent;
  padding: 0.75em;
}

#topMenu .left #lang ul li:not(:last-child) {
  border-bottom: 1px solid #c6c6cb;
}

#topMenu .left #lang ul li:hover {
  color: #fbfbfb;
  background-color: #00897b;
}

#topMenu .left #lang ul li a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
  width: 100%;
  height: 100%;
  color: inherit;
}

#topMenu .left #lang ul li a img {
  width: 2em;
  height: 1.5em;
}

#topMenu .left #lang ul li a p {
  font-size: 1.6em;
  color: inherit;
  margin-right: .2em;
}

#topMenu .left #lang ul.show {
  z-index: 1;
}

#topMenu .left #more {
  width: auto;
  height: auto;
  position: relative;
  margin-right: 3em;
  margin-left: 1.5em;
}

#topMenu .left #more .title {
  cursor: pointer;
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

#topMenu .left #more .title p, #topMenu .left #more .title i {
  font-size: 1.6em;
  color: #fbfbfb;
}

#topMenu .left #more .title i {
  margin-right: .3em;
}

#topMenu .left #more ul {
  width: 25em;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
  -webkit-box-shadow: 0.5em 0.5em 1em 0.3em rgba(70, 69, 85, 0.3);
          box-shadow: 0.5em 0.5em 1em 0.3em rgba(70, 69, 85, 0.3);
  position: absolute;
  top: -webkit-calc(100% + 1.1em);
  top: -moz-calc(100% + 1.1em);
  top: calc(100% + 1.1em);
  left: 0;
  background-color: white;
}

#topMenu .left #more ul li:not(.top) {
  width: 100%;
  height: auto;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  transition: all .2s linear;
  color: #2d2d31;
  background-color: transparent;
  padding: 0.75em;
}

#topMenu .left #more ul li:not(.top):not(:last-child) {
  border-bottom: 1px solid #c6c6cb;
}

#topMenu .left #more ul li:not(.top):hover {
  color: #fbfbfb;
  background-color: #00897b;
}

#topMenu .left #more ul li:not(.top) a {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: inherit;
  font-size: 1.4em;
}

#topMenu .left #more ul li.top {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
  border-bottom: 1px solid #c6c6cb;
}

#topMenu .left #more ul li.top a {
  width: auto;
  height: auto;
  margin: 1.05em;
}

#topMenu .left #more ul li.top a i {
  display: inline-block;
  width: 4.1em;
  height: 4.1em;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
  color: white;
  background-color: #00897b;
  border: 1.2px solid transparent;
}

#topMenu .left #more ul li.top a i:hover {
  color: #00897b;
  background-color: white;
  border: 1.2px solid #00897b;
}

#topMenu .left #more ul li.top a i:hover {
  -webkit-transform: scale(1.2);
     -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

#topMenu .left #more ul li.top a i::before {
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
     -moz-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  font-size: 2em;
}

#topMenu .left #more ul.show {
  z-index: 1;
}

@media screen and (max-width: 1000px) {
  #topMenu {
    font-size: 8px;
  }
}

@media screen and (max-width: 500px) {
  #topMenu .right .logo {
    margin-right: 0.75em;
  }
  #topMenu .right .logo h1 {
    margin-right: .15em;
  }
  #topMenu .right .city {
    margin-right: 1.5em;
  }
  #topMenu .right .city .title {
    margin-right: 0.75em;
  }
  #topMenu .right .city .title i {
    margin-right: .15em;
  }
  #topMenu .right .city ul {
    width: 20em;
  }
  #topMenu .left {
    margin-right: 0.75em;
  }
  #topMenu .left #login {
    padding: .5em .8em;
    border-radius: .6em;
  }
  #topMenu .left #login p {
    margin-right: .15em;
  }
  #topMenu .left #lang {
    margin-right: 1.5em;
    margin-left: 0.75em;
  }
  #topMenu .left #lang .title i {
    margin-right: .15em;
  }
  #topMenu .left #more {
    margin-right: 1.5em;
    margin-left: 0.75em;
  }
  #topMenu .left #more .title i {
    margin-right: .15em;
  }
  #topMenu .left #more ul {
    width: 25em;
  }
}

@media screen and (max-width: 650px) {
  #topMenu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-align-content: "";
        -ms-flex-line-pack: "";
            align-content: "";
  }
  #topMenu .right {
    width: auto;
    position: relative;
    top: 0%;
    right: 0%;
    -webkit-transform: translate(0%, 0%);
       -moz-transform: translate(0%, 0%);
        -ms-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

@media screen and (max-width: 400px) {
  #topMenu {
    font-size: 6.5px;
  }
  #topMenu .left #lang {
    padding-left: 0.75em;
    padding-right: 0.75em;
    font-size: 8px;
  }
}

header {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}
/*# sourceMappingURL=header.css.map */