@import '../../variables.scss' ;
@import '../../mixins.scss' ;
@import '../../colors.scss' ;
#about{
    display: flex;
    @include flex(column,flex-start,center,nowrap,"") ;
    h4{
        font-size: $fontL;
        font-weight: 700;
        color: $textDark;
    }
    .txt{
        width: 100%;
        height: auto;
        margin-top: $dist1;
        line-height: $dist2 + .3em;
        color: $textGrey;
        font-size: $fontM;
    }
}