@import '../../variables.scss' ;
@import '../../mixins.scss' ;
@import '../../colors.scss' ;
#sidebar{
    display: flex;
    @include flex(column,flex-start,center,nowrap,"") ;
    padding: $dist1;
    #timer{
        width: auto;
        height: auto;
        display: flex;
        @include flex(row,flex-start,center,nowrap,"") ;
        .section{
            width: auto;
            height: auto;
            padding: 0 $dist3;
            &:first-child{padding-left: $dist3;}
            &:last-child{padding-right: $dist3;}
            &:not(:last-child){border-left: 1px solid lighten($textGrey,15%);}
            display: flex;
            @include flex(column,flex-start,center,nowrap,"") ;
            p{
                &:nth-child(1){
                    font-size: $fontXL;
                    color: $primaryColor;
                }
                &:nth-child(2){
                    font-size: $fontM - .2em;
                    color: $textGrey;
                    margin-top: 0;
                }
            }
        }
    }
    .price{
        width: auto;
        height: auto;
        display: flex;
        @include flex(row,flex-start,center,nowrap,"") ;
        margin-top: $dist2;
        .col{
            width: auto;
            height: auto;
            display: flex;
            @include flex(column,flex-start,flex-start,nowrap,"") ;
            p{
                &:nth-child(1){
                    font-size: $fontM - .2em ;
                    color: lighten($textGrey,15%);
                    text-decoration: line-through;
                }
                &:nth-child(2){
                    font-size: $fontM;
                    font-weight: 700;
                    color: $primaryColor;
                    margin-top: 0;
                }
            }
        }
        .discount{
            width: auto;
            height: auto;
            padding: .1em $dist1;
            font-size: $fontM - .2em;
            color: white;
            background-color: $primaryColor;
            border-radius: .4em;
            margin-right: $dist1;
        }
    }
  
}