@import '../../variables.scss' ;
@import '../../colors.scss' ;
@import '../../mixins.scss' ;
@import '../../utilities/styles/tabs.scss' ;
#medicMore{
    width: 100%;
    margin-top: $sectionsDist;
    .tabs_wrapper{
        width: 100% ;
        display: flex;
        @include flex(column,flex-start,flex-start,nowrap,"") ;
        margin-top: 0;
        .tabs{
            box-shadow: 0 0 .5em .1em $shadowColor;
            width: auto ;
        }
        .contents{
            margin-top: 0;         
            .content{    
                margin-top: 0;       
            }
            #comments{
                margin-top: 0;
            }
            #tab1{
                @include flex(column,flex-start,flex-start,nowrap,"") ;
                
            }
            @keyframes fadeIn {
                from{opacity: 0;}
                to{opacity: 1;}
            }
        }
    
    }
}
@include mediaQ(450px){
    #medicMore{
        .tabs_wrapper{
            .contents{
                #tab1{
                    #features{
                        @include flex(column,flex-start,flex-start,nowrap,"") ;
                        .left{
                           margin-top: $dist2;
                           margin-right: 0;
                        }
    
                    }  
                        
                }
              
            }
        
        }
    }
}