@import '../../variables.scss' ;
@import '../../colors.scss' ;
@import '../../mixins.scss' ;
@import './medicInfo.scss' ;
@import './sidebar.scss' ;
@import './medicMore.scss' ;
#medicWrapper{
    width: 90%;
    height: auto;
    margin: $sectionsDist auto 0 auto  ;
    display: flex;
    @include flex(row,flex-start,flex-start,nowrap,"") ;
    #medic{
        width: 100%;
        height: auto;
        display: flex;
        @include flex(column,flex-start,flex-start,nowrap,"") ;
    }
    #sidebar{
        flex-shrink: 0;
        width: 35em;
        height: auto;
        margin-right: $sectionsDist;
        margin-top: 0;
    }
}
