@import '../../variables.scss' ;
@import '../../colors.scss' ;
@import '../../mixins.scss' ;
@import '../../utilities/styles/tabs.scss' ;
#medicMore{
    width: 100%;
    margin-top: $sectionsDist;
    .tabs_wrapper{
        width: 100% ;
        display: flex;
        @include flex(column,flex-start,flex-start,nowrap,"") ;
        margin-top: 0;
        .tabs{
            box-shadow: 0 0 .5em .1em $shadowColor;
            width: auto ;
        }
        .contents{
            margin-top: 0;         
            .content{    
                margin-top: 0;       
            }
            #comments{
                margin-top: 0;
            }
            #tab1{
                @include flex(column,flex-start,flex-start,nowrap,"") ;
                video{
                    width: 75%;
                    height: 40em;
                    margin: 0 auto;
                    padding-bottom: $dist2;
                }
                #features{
                    width: 100%;
                    height: auto;
                    margin-top: $dist2;
                    padding: $dist2 0;
                    border-bottom: 1px solid lighten($textGrey,15%);
                    border-top: 1px solid lighten($textGrey,15%);
                    display: flex;
                    @include flex(row,flex-start,flex-start,nowrap,"") ;
                    .right,.left{
                        width: 100%;
                        height: auto;
                        padding: 0 $dist2;
                        display: flex;
                        @include flex(column,flex-start,flex-start,nowrap,"") ;
                        h4{
                            font-weight: 700;
                            font-size: $fontL;
                        }
                        ul{
                            width: 100%;
                            height: auto;
                            margin-top: $dist1;
                            display: flex;
                            @include flex(column,flex-start,flex-start,nowrap,"") ;
                            li{
                                width: 100%;
                                height: auto;
                                &:not(:first-child){margin-top: $dist1;}
                                display: flex;
                                @include flex(row,flex-start,center,nowrap,"") ;
                                i{
                                    font-size: $fontM;
                                }
                                p{
                                    width: 100%;
                                    height: auto;
                                    line-height: $dist2 + .3em;
                                    color: $textGrey;
                                    font-size: $fontM;
                                    margin-right: .4em;
                                }
                            }
                        }
                    }
                    .right{
                        h4{
                            color: lighten($redColor2,5%);
                        }
                        ul{
                            li{
                                i{color: lighten($redColor2,5%);}
                            }
                        }
                    }
                    .left{
                        margin-right: $dist2;
                        h4{
                            color: $primaryColor;
                        }
                        ul{
                            li{
                                i{color: $primaryColor;}
                            }
                        }
                    }

                }  
                #map{
                    width: 100%;
                    height: auto;
                    margin-top: $dist2;
                    display: flex;
                    @include flex(column,flex-start,flex-start,nowrap,"") ;
                    h4{
                        font-size: $fontL;
                        font-weight: 700;
                        color: $primaryColor;
                        margin-right: $dist1;
                    }
                    img{
                        margin: $dist2 auto 0 auto;
                        width: 75%;
                        height: 35em;
                    }
                }        
            }
            @keyframes fadeIn {
                from{opacity: 0;}
                to{opacity: 1;}
            }
        }
    
    }
}