#discounts {
  padding: 1.5em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

#discounts h4 {
  font-size: 2em;
  font-weight: 700;
  color: #00897b;
}

#discounts .medics {
  width: 100%;
  height: auto;
  margin-top: 1.5em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

#discounts .medics .medic {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
  padding: 1.5em 0.75em;
  border-bottom: 1px solid #b8b8bf;
  background-color: transparent;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  transition: all .2s linear;
}

#discounts .medics .medic:hover {
  background-color: #ebebed;
}

#discounts .medics .medic .col:nth-child(1) {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  width: 25em;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

#discounts .medics .medic .col:nth-child(1) a {
  width: 100%;
  height: 15em;
}

#discounts .medics .medic .col:nth-child(1) a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1.5em;
}

#discounts .medics .medic .col:nth-child(1) form {
  width: 100%;
  height: auto;
  margin-top: 0.75em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

#discounts .medics .medic .col:nth-child(1) form .quantity {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

#discounts .medics .medic .col:nth-child(1) form .quantity label {
  font-size: 1.5em;
  color: #767682;
}

#discounts .medics .medic .col:nth-child(1) form .quantity .inputWrapper.numberHandler {
  width: auto;
  height: auto;
  margin-right: 0.75em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

#discounts .medics .medic .col:nth-child(1) form .quantity .inputWrapper.numberHandler .increase,
#discounts .medics .medic .col:nth-child(1) form .quantity .inputWrapper.numberHandler .decrease,
#discounts .medics .medic .col:nth-child(1) form .quantity .inputWrapper.numberHandler input {
  margin-right: 0.75em;
}

#discounts .medics .medic .col:nth-child(1) form .quantity .inputWrapper.numberHandler .increase:first-child,
#discounts .medics .medic .col:nth-child(1) form .quantity .inputWrapper.numberHandler .decrease:first-child,
#discounts .medics .medic .col:nth-child(1) form .quantity .inputWrapper.numberHandler input:first-child {
  margin-right: 0;
}

#discounts .medics .medic .col:nth-child(1) form .quantity .inputWrapper.numberHandler .increase,
#discounts .medics .medic .col:nth-child(1) form .quantity .inputWrapper.numberHandler .decrease {
  font-size: 1.4em;
  cursor: pointer;
  color: #00897b;
}

#discounts .medics .medic .col:nth-child(1) form .quantity .inputWrapper.numberHandler input {
  width: 2em;
  height: 2em;
  text-align: center;
  line-height: 2em;
  color: #2d2d31;
  font-size: 1.6em;
  border: 1.2px solid #c6c6cb;
}

#discounts .medics .medic .col:nth-child(1) form .quantity .inputWrapper.numberHandler input.error {
  border: 1.2px solid #ea6161;
}

#discounts .medics .medic .col:nth-child(1) form .inputWrapper.checkboxes {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
  margin-top: 0.75em;
}

#discounts .medics .medic .col:nth-child(1) form .inputWrapper.checkboxes .checkbox {
  width: 100%;
  height: 100%;
  padding-right: 0;
  margin-top: 0;
}

#discounts .medics .medic .col:nth-child(1) form .inputWrapper.checkboxes .checkbox input[type="checkbox"] {
  width: 0;
  height: 0;
  display: none;
}

#discounts .medics .medic .col:nth-child(1) form .inputWrapper.checkboxes .checkbox input[type="checkbox"].style2:checked ~ label .rect {
  border: 1px solid transparent;
  background-color: #00897b;
}

#discounts .medics .medic .col:nth-child(1) form .inputWrapper.checkboxes .checkbox input[type="checkbox"].style2:checked ~ label .rect i {
  opacity: 1;
}

#discounts .medics .medic .col:nth-child(1) form .inputWrapper.checkboxes .checkbox input[type="checkbox"].style2:checked ~ label p {
  color: #00897b;
}

#discounts .medics .medic .col:nth-child(1) form .inputWrapper.checkboxes .checkbox label {
  cursor: pointer;
  width: 100%;
  height: 100%;
  line-height: 2.5em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

#discounts .medics .medic .col:nth-child(1) form .inputWrapper.checkboxes .checkbox label .rect {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  width: 2.1em;
  height: 2.1em;
  border: 1px solid #696975;
  position: relative;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  transition: all .2s linear;
  border-radius: .45em;
}

#discounts .medics .medic .col:nth-child(1) form .inputWrapper.checkboxes .checkbox label .rect i {
  opacity: 0;
  font-size: 1.6em;
  color: #fbfbfb;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  transition: all .2s linear;
}

#discounts .medics .medic .col:nth-child(1) form .inputWrapper.checkboxes .checkbox label p {
  max-width: auto;
  font-size: 1.4em;
  color: #696975;
  margin-right: .3em;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  transition: all .2s linear;
}

#discounts .medics .medic .col:nth-child(1) form .inputWrapper.checkboxes .checkbox label p.error {
  color: #ea6161;
}

#discounts .medics .medic .col:nth-child(2) {
  width: 100%;
  height: auto;
  margin-right: 1.5em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

#discounts .medics .medic .col:nth-child(2) h4 {
  font-size: 1.6em;
  font-weight: 700;
  color: #00897b;
}

#discounts .medics .medic .col:nth-child(2) .icons {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
  margin-right: -0.75em;
  margin-top: .5em;
}

#discounts .medics .medic .col:nth-child(2) .icons .icon {
  width: auto;
  height: auto;
  margin: 0.75em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

#discounts .medics .medic .col:nth-child(2) .icons .icon i {
  font-size: 1.2em;
  color: #00897b;
}

#discounts .medics .medic .col:nth-child(2) .icons .icon p {
  font-size: 1.4em;
  color: #90909b;
  margin-right: .3em;
}

#discounts .medics .medic .col:nth-child(2) .score {
  width: auto;
  height: auto;
  margin-top: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0.75em;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

#discounts .medics .medic .col:nth-child(2) .score i {
  font-size: 1.2em;
  color: #00897b;
  margin-right: .1em;
}

#discounts .medics .medic .col:nth-child(2) .score i.notActive {
  color: #b8b8bf;
}

#discounts .medics .medic .col:nth-child(2) .score p {
  margin-right: .2em;
  font-size: 1.4em;
  color: #90909b;
}

#discounts .medics .medic .col:nth-child(2) .priceWrapper {
  width: auto;
  height: auto;
  margin-top: 0.75em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

#discounts .medics .medic .col:nth-child(2) .priceWrapper p {
  font-size: 1.6em;
  color: #00897b;
}

#discounts .medics .medic .col:nth-child(2) .priceWrapper .price {
  width: auto;
  height: auto;
  margin-right: 1.5em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

#discounts .medics .medic .col:nth-child(2) .priceWrapper .price .prices {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

#discounts .medics .medic .col:nth-child(2) .priceWrapper .price .prices p:nth-child(1) {
  font-size: 1.4em;
  color: #b8b8bf;
  text-decoration: line-through;
}

#discounts .medics .medic .col:nth-child(2) .priceWrapper .price .prices p:nth-child(2) {
  font-size: 1.6em;
  color: #00897b;
}

#discounts .medics .medic .col:nth-child(2) .priceWrapper .price .discount {
  width: auto;
  height: auto;
  padding: 0.3em 0.75em;
  font-size: 1.4em;
  color: white;
  background-color: #00897b;
  border-radius: 0.75em;
  margin-right: 1.5em;
}

#discounts .medics .medic .col:nth-child(2) .sumPrice {
  width: auto;
  height: auto;
  margin-top: 0.75em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

#discounts .medics .medic .col:nth-child(2) .sumPrice p:nth-child(1) {
  font-size: 1.6em;
  color: #00897b;
}

#discounts .medics .medic .col:nth-child(2) .sumPrice p:nth-child(2) {
  font-size: 1.6em;
  color: #00897b;
  margin-right: 0.75em;
}

#discounts .medics .medic .remove {
  width: auto;
  height: auto;
  margin-right: 1.5em;
  font-size: 2.4em;
  cursor: pointer;
  color: #90909b;
}

#discounts .medics .medic .remove:hover {
  color: #ea6161;
}

#discounts .medics .medic.remove {
  display: none;
}

#discounts .final {
  width: 100%;
  height: auto;
  margin-top: 3em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
}

#discounts .final .price {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

#discounts .final .price p:nth-child(1) {
  font-size: 1.6em;
  color: #90909b;
}

#discounts .final .price p:nth-child(2) {
  font-size: 2.2em;
  font-weight: 700;
  color: #00897b;
}

#discounts .final a {
  cursor: pointer;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
  color: white;
  background-color: #00897b;
  border: 1.2px solid transparent;
  padding: 0.3em 1.5em;
  font-size: 1.8em;
}

#discounts .final a:hover {
  color: #00897b;
  background-color: white;
  border: 1.2px solid #00897b;
}

@media screen and (max-width: 1000px) {
  #discounts {
    font-size: 8px;
  }
}

@media screen and (max-width: 700px) {
  #discounts {
    font-size: 7px;
  }
}

@media screen and (max-width: 500px) {
  #discounts .medics .medic {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
       -moz-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-align-content: "";
        -ms-flex-line-pack: "";
            align-content: "";
  }
  #discounts .medics .medic .col:nth-child(1) {
    width: 95%;
  }
  #discounts .medics .medic .col:nth-child(1) a {
    width: 100%;
    height: 24em;
  }
  #discounts .medics .medic .col:nth-child(2) {
    height: auto;
    margin-right: 0;
    margin-top: 1.5em;
  }
}
/*# sourceMappingURL=basket.css.map */